<!--<script src="/data/testendes-seminar/libraries/modernizr.js" type="text/javascript" language="javascript"></script>
<script src="/data/testendes-seminar/adapt/js/scriptLoader.js" type="text/javascript" language="javascript"></script>-->
<ion-view view-title={{seminarMeta.seminarName}}>
    <ion-content data-tap-disabled="true" scroll="true" overflow-scroll="true" class="iframe-wrapper">
        <!-- <iframe class="seminarContent" data-tap-disabled="true" src="../data/testendes-seminar/index.html">

        </iframe> -->
        <div id="wrapper"><h2 style="color:#fff;">HELLOO :)</h2></div>
    </ion-content>
</ion-view>

