<ion-view view-title="TESTEST">
    <ion-content padding="true">
        <button class="button button-full button-assertive" ng-click="openInExternalBrowser()">
            Open In External Browser
        </button>
        <button class="button button-full button-assertive" ng-click="openInAppBrowser()">
            Open In App Browser
        </button>
        <button class="button button-full button-assertive" ng-click="openCordovaWebView()">
            Open In Cordova Webview
        </button>

    </ion-content>
</ion-view>
